<div class="welcome">
  <div class="logo">
    <div class="images">
      <img class="logoImg rock" src="/assets/images/rock.png" alt="rock">
      <img class="logoImg paper" src="/assets/images/paper.png" alt="paper">
      <img class="logoImg scissors" src="/assets/images/scissors.png" alt="scissors">
    </div>
    <h1> Rock Paper Scissors </h1>
  </div>
  <div class="buttons">
    <button mat-fab (click)=onSiglePlayClick()> Single Player </button>
    <button mat-fab (click)=onMultiPlayClick()> Multiplayer </button>
  </div>
</div>
