  .gamePlay {
    width: 90%;
    background-color: rgba(255,255,255,.08);
    border-radius: 20px;
    margin: 3% auto;
    padding: 20px 0 50px 0;
    position:relative;
    h1 {
      font-family: 'CartoonScript';
      font-size: 1.3em;
      text-align: center;
      margin: auto;
      margin-top: -10px;
      img {
        position:absolute;
        margin-top: 25px;
        cursor: pointer;
      }
      .backArrow {
        width: 25px;
        left: 0.5%;
      }
      .historyIcon{
        width: 30px;
        right: 0.5%;
      }
    }
    .result {
      margin: 0 auto auto auto;
      position: absolute;
      left:0; right:0;
      h2 {
        font-size: 1.3em;
        width:150px;
        margin: 20px auto;
        text-align: center;
        background-color: #bee5bd;
        color: #0a1e1c;
        border:2px solid #0a1e1c;
        border-radius: 50%;
        padding: 15px;
      }
    }
    .profile {
      font-size: 1.3em;
      font-weight: bold;
      width: 45%;
      height: 179px;
      text-align: center;
      margin: 130px auto 10px auto;
      display: inline-block;
      img {
        width: 80px;
        margin: 10px 0;
      }
    }
    .figure {
      img {
        transform: rotate(90deg);
      }
    }
    .opponent {
      float: right;
      img {
          transform: rotate(-90deg);
        }
    }
    .playChoices {
      margin: 20px auto;
      text-align: center;
      .mat-fab {
        padding: 26px;
        margin: auto 5%;
        &:hover {

        }
      }
      .rock {
        background: url('/assets/images/rock.png') no-repeat bottom;
        background-size: 90%;
      }
      .paper {
        background: url('/assets/images/paper.png') no-repeat center;
        background-size: 77%;
      }
      .scissors {
        background: url('/assets/images/scissors.png') no-repeat center;
        background-size: 77%;
      }
      .restart {
        background:  #bee5bd url('/assets/images/play.svg') no-repeat center;
        background-size: 77%;
      }
    }
    .round {
      margin-bottom: 50px;
      width: 80%;
      margin: auto;
      .small-aligned {
        margin: 5px 25px;
        float: none;
        display: inline-block;
        img {
          height: 80px;
        }
      }
    }
  }

  @media (min-width: 380px) {
    .gamePlay {
      h1 {
        font-size: 1.5em;
        img {
          margin-top: 32px;
        }
        .backArrow {
          left: 2%;
        }
        .historyIcon{
          right: 2%;
        }
      }
    }
  }

  @media (min-width: 620px) {
    .gamePlay {
      h1 {
        font-size: 2.2em;
        img {
          margin-top: 45px;
        }
        .backArrow {
          width: 40px;
          left: 6.5%;
        }
        .historyIcon{
          width: 45px;
          right: 6.5%;
        }
      }
      .profile {
        height: 22.5vw;
        img {
          width: 25%;
          margin: 10px 0;
        }
      }
      .playChoices {
        .mat-fab {
          margin: auto 2%;
        }
      }
    }
  }

  @media (min-width: 860px) {
    .gamePlay {
      .result {
        margin: 20px auto auto auto;
        h2 {
          width:180px;
        }
        img {
          margin-top: 35px;
        }
      }
      .profile {
        font-size: 1.3em;
        margin: 50px auto 10px auto;
      }
      .playChoices {
        margin: 10px auto;
      }
    }
  }

  @media (min-width: 980px) {
    .gamePlay {
      h1 {
        font-size: 2.5em;
        img{
          margin-top: 55px;
        }
        .backArrow {
          width: 43px;
          left: 9%;
        }
        .historyIcon{
          width: 48px;
          right: 9%;
        }
      }
      .result {
        margin: 30px auto auto auto;
        h2 {
          font-size: 1.5em;
          width:180px;
        }
      }
      .profile {
        border: 0;
        height: 19vw;
        font-size: 1.3em;
        margin: 60px auto 10px auto;
      }
      .playChoices {
        .mat-fab {
          padding: 2.6vw;
          margin: auto 1%;
        }
      }
    }
  }

@import '../../styles/custom-popup';
